#slider {
	position: relative
}

.sl-slider-wrapper {
	min-height: 100vh;
	margin: 0 auto;
	overflow: hidden
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0
}

.sl-slide,
.sl-slide-inner,
.sl-slides-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.sl-slide {
	z-index: 1
}

.sl-slide-inner {
	display: -webkit-flex;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 1
}

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1)
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0 200px 200px
}

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1)
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0 200px 200px
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0
}

.sl-content-wrapper {
	position: absolute
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff
}

.sl-slide-horizontal .sl-slide-inner {
	background: #ddd
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc
}

.sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
	height: auto;
	display: inline-block;
	width: 30px;
	right: 100px;
	z-index: 1000
}

.nav-dots span {
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 3px;
	background: #fff;
	cursor: pointer
}

.nav-dots span.nav-dot-current:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0;
	left: 0;
	border-radius: 50%;
	background: #21c64a
}

.sl-trans-elems h2 {
	-webkit-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both
}

.sl-trans-elems h1 {
	-webkit-animation: fadeIn .5s linear .5s both;
	-ms-animation: fadeIn .5s linear .5s both;
	animation: fadeIn .5s linear .5s both
}

.sl-trans-back-elems h2 {
	-webkit-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both
}

.sl-trans-back-elems h1 {
	-webkit-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both
}

.sl-trans-elems p {
	-webkit-animation: moveDown 1s linear both;
	-ms-animation: moveDown 1s linear both;
	animation: moveDown 1s linear both
}

@-webkit-keyframes moveUp {
	0% {
		-webkit-transform: translateY(40px)
	}
	100% {
		-webkit-transform: translateY(0px)
	}
}

@-ms-keyframes moveUp {
	0% {
		-ms-transform: translateY(40px)
	}
	100% {
		-ms-transform: translateY(0px)
	}
}

@keyframes moveUp {
	0% {
		-webkit-transform: translateY(40px);
		transform: translateY(40px)
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px)
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes moveDown {
	0% {
		-webkit-transform: translateY(-20px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1
	}
}

@-ms-keyframes moveDown {
	0% {
		-ms-transform: translateY(-20px);
		opacity: 0
	}
	100% {
		-ms-transform: translateY(0);
		opacity: 1
	}
}

@keyframes moveDown {
	0% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
		opacity: 0
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}